@model IEnumerable<CadastroProdutosWeb.Models.Produto>
@{
    ViewData["Title"] = "Cadastro de Produtos - Home";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Novo Produto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataLancamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataLancamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodigoProduto">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.CodigoProduto">Delete</a>
            </td>
        </tr>
            }
        }

    </tbody>
</table>
